{% extends "base.html" %}

{% block page_content %}

<div class="body-margin">
    <h1>exp</h1>
    <p>Working with programming and data was something I should have done <strong>A LOT</strong> sooner. The challenge of working with data is well worth the insight it brings to individuals, teams and businesses alike. It's also really rewarding finding patterns that lead to meaningful change at multiple levels of an organization. I'm hoping to continue learning more about analytics, eventually dabaling in data science as well as data and pipeline engineering.</p>
    <p>I enjoy all aspects of analytics and software development; and I firmly believe I'd excel in any tech adjacent roles.</p>

    <div class="d-flex justify-content-end">
        <p class="quote">"So what kind of an employee is Stefano Sena? This is a man who I would hire again... in a heartbeat."</p>
    </div>      
    <p class="d-flex justify-content-end"><a href="https://www.linkedin.com/in/stefano-sena-496b2629/" target="_blank">- Art Pultz, General Manager (retired)</a></p>
</div>

{% endblock page_content %}