{% extends "base.html" %}

{% block page_content %}

<div class="body-margin">
    <h1>TEST</h1>
    <p>Nullam ac augue interdum, varius dolor ac, faucibus magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec id dictum dui. Mauris ut augue aliquet, convallis sapien vitae, tempus nulla. Nullam sit amet malesuada metus. Fusce aliquet arcu hendrerit libero egestas consectetur vel ac orci. Suspendisse vestibulum, enim non viverra semper, risus sapien ultrices ligula, at varius mi dui id metus. Nunc a convallis erat, quis convallis tortor. Integer non orci enim. Vestibulum metus odio, dictum sit amet libero sed, efficitur viverra diam. Maecenas tristique, augue a lacinia sollicitudin, dui erat suscipit tellus, sit amet pellentesque elit mi sit amet lacus.</p>
</div>

{% endblock page_content %}