@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    /* background-color: #212a2e;
    color: #F7F8F8; */
    font-family: 'Roboto Slab', serif;
}

.body-margin {
    margin-top: 200px;
}

.footer-text {
    margin-top: 50px;
    font-size: 10px;
}


/* home */



/* exp */

.quote {
    /* color: #F7F8F8; */
    font-size: 25px;
    text-align: right;
}


/* projects */

.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
  
.card {
    flex: 1 0 auto;
}


/* contacts */
